server {
        listen 80;
        listen [::]:80 default_server ipv6only=on;
        
        location /{{ scrutari_context }} {
                
                proxy_pass http://localhost:8080/{{ scrutari_context }};
                proxy_connect_timeout 300;
                proxy_send_timeout 300;
        }
        
        
        location = /robots.txt {
            root {{ path_nginx_static }};
        }
        
}

server {
        listen 443;
        server_name {{ host_name }};

        ssl on;
        # Use certificate and key provided by Let's Encrypt:
        ssl_certificate /etc/letsencrypt/live/{{ host_name }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ host_name }}/privkey.pem;
        ssl_session_timeout 5m;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

        location /{{ scrutari_context }} {
                
                proxy_pass http://localhost:8080/{{ scrutari_context }};
                proxy_connect_timeout 300;
                proxy_send_timeout 300;
        }

        location = /robots.txt {
            root {{path_nginx_static }};
        }
        
}
