<Context docBase="{{ path_tomcat_webapps }}/{{ scrutari_context }}">
<Parameter name="confDir" value="{{ path_scrutari_conf }}"/>
<Parameter name="varDir" value="{{ path_scrutari_var }}"/>
</Context>
