[Unit]
Description="{{ tomcat_version }} - {{ user }}"
After=network.target

[Service]
Type=forking
User={{ user }}
Group={{ user }}

ExecStart="{{ path_tomcat_install }}/bin/startup.sh"
ExecStop="{{ path_tomcat_install }}/bin/shutdown.sh"

[Install]
WantedBy=multi-user.target
