#!/bin/sh

LOG_PATH={{ path_tomcat_install }}/logs
LOGEXT="log txt"
LOGFILE_COMPRESS=1

if [ -d $LOG_PATH ]; then
	for EXT in $LOGEXT; do
		# Compress the log files
		if [ $LOGFILE_COMPRESS = 1 ]; then
			find $LOG_PATH/ -name \*.$EXT -daystart -mtime +0 -print0 \
				| xargs --no-run-if-empty -0 gzip -9
			EXT=$EXT.gz
		fi
	done
fi
